body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE; }

#menu {
  width: 100%;
  background: #252525; }

#menu_940 {
  width: 940px;
  margin: auto;
  position: relative;
  height: 50px; }
  #menu_940 .img {
    height: 50px;
    width: 60px;
    vertical-align: middle;
    line-height: 25px;
    text-align: center; }
    #menu_940 .img:hover {
      background-color: #303030; }
  #menu_940 .inline {
    display: inline-block;
    padding: 10px 15px; }
  #menu_940 a {
    text-decoration: none;
    color: white; }

.menu--left, .menu2--left {
  float: left;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0; }
  .menu--left .kenaz, .menu2--left .kenaz {
    font-size: 20px;
    height: 50px;
    vertical-align: middle;
    line-height: 25px; }

.menu--right {
  float: right;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0; }
  .menu--right .media {
    font-size: 16px;
    height: 50px;
    vertical-align: middle;
    line-height: 25px; }

#menu2 {
  width: 100%;
  background: #4D4382;
  height: 50px; }

#menu2_940 {
  width: 940px;
  margin: auto;
  position: relative; }
  #menu2_940 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px; }
  #menu2_940 .inline {
    display: inline-block;
    padding: 10px 22px; }

.menu2--blue {
  height: 50px;
  border-bottom: #299EC3 solid 4px;
  cursor: pointer; }

.menu2--orange {
  height: 50px;
  border-bottom: #EE6151 solid 4px;
  cursor: pointer; }

.menu2--green {
  height: 50px;
  border-bottom: #84C14F solid 4px;
  cursor: pointer; }

.menu2--lightblue {
  height: 50px;
  border-bottom: #5DCFF3 solid 4px;
  cursor: pointer; }

.menu2--yellow {
  height: 50px;
  border-bottom: #FCC44D solid 4px;
  cursor: pointer; }

.menu2--gray {
  height: 50px;
  border-bottom: #A99765 solid 4px;
  cursor: pointer; }

#containter {
  width: 940px;
  margin: auto; }
  #containter .banner {
    margin: 20px 0; }
  #containter .banner-940x120 {
    width: 940px; }
  #containter .banner-620x120 {
    width: 100%; }
  #containter .bottom-slider {
    width: 940px;
    height: 400px;
    margin-bottom: 20px;
    position: relative; }
    #containter .bottom-slider .left-arrow-bottom-slider, #containter .bottom-slider .search-icon, #containter .bottom-slider .right-arrow-bottom-slider {
      cursor: pointer;
      position: absolute;
      top: 20%;
      width: auto;
      margin: 10px;
      padding: 5px 10px; }
    #containter .bottom-slider .search-icon {
      left: 45%; }
    #containter .bottom-slider .right-arrow-bottom-slider {
      right: 0;
      border-radius: 3px 0 0 3px; }
    #containter .bottom-slider .left-arrow-bottom-slider:hover, #containter .bottom-slider .search-icon:hover, #containter .bottom-slider .right-arrow-bottom-slider:hover {
      background-color: rgba(115, 115, 115, 0.8); }
    #containter .bottom-slider .bottom-slider-img-container {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 20px; }
      #containter .bottom-slider .bottom-slider-img-container .bottom-slider-img {
        width: 120px;
        height: 120px; }
      #containter .bottom-slider .bottom-slider-img-container .special {
        border: solid white 2px; }

.footer {
  background-color: #252525;
  border-top: solid #4D4382 20px;
  width: 100%;
  height: 1000px; }
  .footer .footer940x1000 {
    width: 940px;
    height: 1000px;
    color: white;
    margin: auto;
    padding-top: 40px;
    border: solid red 1px; }
    .footer .footer940x1000 .upFooter {
      border: solid red 1px;
      height: 175px; }
      .footer .footer940x1000 .upFooter span {
        margin-left: 10px;
        color: white;
        font-size: 35px;
        vertical-align: middle;
        margin-bottom: 15px; }
      .footer .footer940x1000 .upFooter .specialColor {
        margin-left: 10px;
        color: #45B0E3;
        font-size: 35px;
        vertical-align: middle;
        margin-bottom: 15px; }
      .footer .footer940x1000 .upFooter .socialMediaImage {
        margin-top: 10px;
        display: flex;
        justify-content: space-between; }
      .footer .footer940x1000 .upFooter .input {
        height: 50px;
        background-color: #707070;
        display: inline-block; }
      .footer .footer940x1000 .upFooter .submit {
        background-color: #4D4382;
        font-size: 18px;
        padding: 10px;
        height: 50px;
        border: solid red 1px;
        display: inline-block; }
