.content{
    width: 940px;
    margin: auto;
    
    .main-content{
        width: 620px;
        margin-right: 20px;
        display: inline-block;
        //border: solid 1px red;
    }    
}
.category{
    width: 620px;
    max-height: 350px;
    margin-bottom: 20px;
    padding: 30px 30px;
    //border: solid red 1px;
    //padding-bottom: 20px;
    .article{
        //border: solid red 1px;
        cursor: pointer;
        width: 100%;
    }
    //padding: 20px;
    background-color: #FFFFFF;
    //border-left: solid 10px #3677B5;
    .newsImageContainer{
        //border: solid red 1px;
        width: 163px;
        height: 90px;
    }
    .news-img, .sport-img{
        //max-height: 150px;
    }
    .titleOfArticle{
        //border: solid red 1px;
        margin-bottom: 10px; 
    }
    .img{
        width: 100%;

        //border: solid 1px red;
        //margin-bottom: 5px;
        //margin: 0;
    }
    .date {
    //margin-top: 5px;
    //max-height: 150px;
    //border: solid 1px red;
    color: #797979;
    font-size: 11px;
    //float: left;
    margin-bottom: 5px;
    }

    .imgRight{
        float: right;
        //color: #797979;
        //margin-top: 0;
    }
    .news-number{
        margin-top: 5px;
        margin-left: 2px;
    }
    .see-all{
        float: right;
        //border: solid 1px red;
    }
    .bla{
        //border: solid 1px red;
        //margin: 10px;
        
    }
    .inline{
        display: inline-block;
    }
    .description{
        clear: both;
        //border: solid 1px red;
        //margin-bottom: 10px;
        font-size: 12px;
        max-height: 70px;
        margin-right: 10px;
        overflow: hidden;
    }
}
.news{
    border-left: solid 10px #3677B5;
}
.sport{
    border-left: solid 10px #84C14F;
    .img{
        //width: 170px;
        //margin-bottom: 0;
    }
}
.business{
    border-left: solid 10px #EE6151;
    .img{
        //width: 120px;
        //margin-bottom: 30px;
        //margin-top: 5px;
    }
    .titleOfArticle{
        //border: solid red 1px;
        margin-bottom: 0; 
    }
    .newsImageContainer{
        //border: solid red 1px;
        width: 120px;
        height: 70px;
        margin-top: 10px;
    }
    .description{
        color: #797979;
        max-height: 55px;
        width: 130px;
    }
    .margin{
        height: 10px;
    }
}
.new-carousel{
    border-left: solid 10px #FCC44D;
    .imgSpace{
        margin-left: 15px;
    }
    .newsImageContainer{
        //border: solid red 1px;
        width: 260px;;
        height: 150px;
        margin-top: 5px;
    }
    .description{
        //margin-bottom: 20px;
        max-height: 20px;
    }
    .hover{
        width: 25px;
        height: 30px;
        cursor: pointer;
        //border: solid red 1px;
    }
    .arrow-right{
        background: url("../img/Shape-11.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover{
            background: url("../img/Shape-1.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .arrow-left{
        background: url("../img/Shape-22.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover{
            background: url("../img/Shape-2.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
.editorials, .local-news{
    border-left: solid 10px #A99765;
    width: 300px;
    float: left;
    //margin-bottom: 20px;
    //margin: 0 10px 0 0;
    
    .newsImageContainer{
        //border: solid red 1px;
        width: 230px;;
        height: 150px;
        margin-top: 5px;
    }
    .description{
        //margin-bottom: 20px;
        //border: solid red 1px;
        max-height: 20px;
    }
    .imgSpace{
        margin-left: 15px;    
    }
    .hover{
        width: 25px;
        height: 30px;
        cursor: pointer;
        //padding-left: 7px;
        //margin-top: 1px;
        
    }
    .arrow-right{
        background: url("../img/Shape-1.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover{
            background: url("../img/Shape-11.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .arrow-left{
        background: url("../img/Shape-2.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover{
            background: url("../img/Shape-22.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &:after{
        clear: both;
    }
}
.editorials{
    margin-right: 10px;
}
.local-news{
    margin-left: 10px;
}
#padding{
    padding: 0 10px 10px 5px;
    //border: solid red 1px;
}