body{
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}
#menu{
  width: 100%;
  background: #252525;
}
#menu_940{
  width: 940px;
  margin: auto;
  position: relative;
  height: 50px;
  //border: solid 1px red;
  .img{
    //padding: 10px 15px;
    //border: solid 1px red;
    height: 50px;
    width: 60px;
    vertical-align: middle;
    line-height: 25px;
    text-align:center;
    //padding-right: 15px;
    &:hover{
      background-color: #303030;
    }
  }
  .inline {
  //border: solid 1px red;
  display: inline-block;
  padding: 10px 15px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
.menu--left, .menu2--left{
  float: left;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  .kenaz{
    font-size: 20px;
    //border: solid 1px red;
    height: 50px;
    vertical-align: middle;
    line-height: 25px;
  }
}
.menu--right{
  float: right;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  .media{
    font-size: 16px;
    //border: solid 1px red;
    height: 50px;
    vertical-align: middle;
    line-height: 25px;
    //margin: 0;
    }
}

#menu2{
  width: 100%;
  background: #4D4382;
  height: 50px;
  //border: solid 1px red;
}
#menu2_940{
  width: 940px;
  margin: auto;
  position: relative;
  //border: solid 1px red;
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .inline {
    //border: solid 1px red;
    display: inline-block;
    padding: 10px 22px;
    //margin-right: 0;
  }
}
.menu2--blue{
  height: 50px;
  //background-color: #299EC3;
  border-bottom: #299EC3 solid 4px;
  cursor: pointer;
  //border-top: #299EC3 solid 2px;
  //border: solid 1px red;
}
.menu2--orange{
  height: 50px;
  border-bottom: #EE6151 solid 4px;
  cursor: pointer;
  //border-top: #EE6151 solid 2px;
}
.menu2--green{
  height: 50px;
  border-bottom: #84C14F solid 4px;
  cursor: pointer;
}
.menu2--lightblue{
  height: 50px;
  border-bottom: #5DCFF3 solid 4px;
  cursor: pointer;
}
.menu2--yellow{
  height: 50px;
  border-bottom: #FCC44D solid 4px;
  cursor: pointer;
}
.menu2--gray{
  height: 50px;
  border-bottom:#A99765 solid 4px;
  cursor: pointer;
}

#containter{
  width: 940px;
  margin: auto;
  //border: solid red 1px;
  //position: relative;
  .banner{
    margin: 20px 0;
  }
  .banner-940x120{
    width: 940px;
  }
  .banner-620x120{
    width: 100%;
  }
  .bottom-slider{
    width: 940px;
    height: 400px;
    //border: solid red 1px;
    margin-bottom: 20px;
    
    //background-image: url("../img/Layer36.png");
    //background-position: "center";
    //background-size: "cover";
    //background-repeat: "no-repeat";
    position: relative;
    .left-arrow-bottom-slider, .search-icon, .right-arrow-bottom-slider{
      cursor: pointer;  
      position: absolute;  
      top: 20%;
      width: auto;
      margin: 10px;  
      padding: 5px 10px;
    }
    .search-icon{
      left: 45%;
    }
    .right-arrow-bottom-slider{
      right: 0;  
      border-radius: 3px 0 0 3px;  
    }
    .left-arrow-bottom-slider:hover,.search-icon:hover, .right-arrow-bottom-slider:hover{ 
      background-color: rgba(115, 115, 115, 0.8);  
    }  

    .bottom-slider-img-container{
      //border: solid red 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      //display: table;
      display: flex;
      justify-content: space-between;
      //margin: 0 auto;
      padding: 20px;
      
      .bottom-slider-img{
        //margin-right: 9px;
        width: 120px;
        height: 120px;
        //border: solid red 1px;
      }
      .special{
        border: solid white 2px;
      }
    }
  }
  
}
.footer{
  background-color: #252525;
  border-top: solid #4D4382 20px;
  width: 100%;
  height: 1000px;
  //display: none;
  .footer940x1000{
    width: 940px;
    height: 1000px;
    color: white;
    margin: auto;
    padding-top: 40px;
    border: solid red 1px;
    .upFooter{
      border: solid red 1px;
      height: 175px;
      span{
        margin-left: 10px;
        color: white;
        font-size: 35px;
        vertical-align: middle;
        margin-bottom: 15px;
      }
      .specialColor{
        margin-left: 10px;
        color: #45B0E3;
        font-size: 35px;
        vertical-align: middle;
        margin-bottom: 15px;
      }
      .socialMediaImage{
        //border: solid red 1px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

      }
      .input{
        //width: 190px;
        height: 50px;
        background-color: #707070;
        
        display: inline-block;
      }
      .submit{
        //width: 110px;
        background-color: #4D4382;
        font-size: 18px;
        padding: 10px;
        height: 50px;
        border: solid red 1px;
        display: inline-block;
      }
    }
  }
}
